Source: pyvisa-py
Section: python
Priority: optional
Maintainer: Debian Python Modules Team <python-modules-team@lists.alioth.debian.org>
Uploaders: Ruben Undheim <ruben.undheim@gmail.com>
Build-Depends: debhelper (>= 9), dh-python, python-setuptools, python,
               python-sphinx-rtd-theme
Standards-Version: 3.9.6
X-Python-Version: all
Vcs-Browser: https://anonscm.debian.org/cgit/python-modules/packages/pyvisa-py.git
Vcs-Git: git://anonscm.debian.org/python-modules/packages/pyvisa-py.git
Homepage: https://github.com/hgrecco/pyvisa-py

Package: python-pyvisa-py
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, pyvisa
Description: Backend that implements a large part of the VISA in pure Python
 PyVISA started as wrapper for the NI-VISA library and therefore you need to
 install National Instruments VISA library in your system. This works most of
 the time, for most people. But NI-VISA is a proprietary library that only works
 on certain systems. That is when PyVISA-py jumps in.
