Source: pyvisa-py
Section: electronics
Priority: extra
Maintainer: Ruben Undheim <ruben.undheim@gmail.com>
Build-Depends: debhelper (>= 9), dh-python, python-setuptools, python-all-dev
Standards-Version: 3.9.6
Homepage: https://github.com/hgrecco/pyvisa-py
#Vcs-Git: git://anonscm.debian.org/collab-maint/pyvisa-py.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/pyvisa-py.git;a=summary
X-Python-Version: all

Package: pyvisa-py
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, pyvisa (>= 1.6)
Description: Backend that implements a large part of the VISA in pure Python
 PyVISA started as wrapper for the NI-VISA library and therefore you need to
 install National Instruments VISA library in your system. This works most of
 the time, for most people. But NI-VISA is a proprietary library that only works
 on certain systems. That is when PyVISA-py jumps in.
