Source: pyvisa-py
Section: unknown
Priority: optional
Maintainer: Ruben Undheim <ruben.undheim@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/hgrecco/pyvisa-py
#Vcs-Git: git://anonscm.debian.org/collab-maint/pyvisa-py.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/pyvisa-py.git;a=summary

Package: pyvisa-py
Architecture: all
Depends: ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
